.chatInput {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 70vw;
    margin: auto 1em;
    display: flex;
    flex: 0.7;
    justify-content: center;

    form {
        display: flex;
        justify-content: center;
        box-sizing: inherit;

        input {            
            border: 1px solid #555;
            border-radius: 0.2em;
            padding: 1em;
            font-size: 100%;
        }

        button {
            //display: none !important;
            border: 1px solid #555;
            border-radius: 0.2em;
            margin-left: 0.2em;
            padding: 0.5em;
            font-size: large;
        }
    }
}

.emojiPicker {
    z-index: 10;
    position: absolute;
    bottom: 12%;
    right: 5%;

    .emoji-mart-scroll {
        height: 220px !important;
    }

    .emoji-mart-preview {
        height: 40px !important;
    }
}
