.signin {
    height: 100vh;
    background-color: #F2F2F2;
    display: grid;
    justify-content: center;
    place-items: center;
}

.signin__container {
    text-align: center;
    padding: 3em 4em;
    background-color: white;
    border-radius: 0.8em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(46, 46, 46, 0.24);

    img {
        object-fit: contain;
        height: 2em;
        margin-bottom: 2em;
    }

    h1 {
        font-size: 2.4em;
    }

    p {
        font-size: 1em;
        color: gray;
        margin: 1em;
    }

    button:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4) !important;
        transition: box-shadow 0.2s ease-out;
    }  
}

.signin__form {
    width: 400px;
    padding: 0 0.5em;

    input {
        margin-top: 1em;
        padding: 0.5em;
        border-radius: 0.3em;
        border: 1px solid gray;
        font-size: 1.1em;
        // transition: border 80ms ease-out, box-shadow 80ms ease-out;

        :focus {
            border: 1px solid #6198f0
        }
    }

    button {
        width: inherit;
        margin: 1em 0;
        padding: 0.5em;
        text-transform: inherit !important;
        color: white;
        background-color: #4a154b;
        border: none;
        border-radius: 0.3em;
        font-size: 1.1em;
        font-weight: bold;
        transition: box-shadow 2ms ease-out;

        &:hover {
            box-shadow: 0 1px 4px rgba(0,0,0,0.4)
        }
    }

    button.google {
        background-color: white;
        color: #4285f4;
        border: 2px solid #4285f4;

        #logo {
            padding: 0 0.5em;
        }
    }

    &--email, &--pwd {
        width: inherit;
        margin-top: 1em;
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
        }

        input {
            margin: 0;
        }
    }
}


.signin__hr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    
    hr {
        width: 90%;
        border: none;
        border-top: 1px solid #ccc;
    }
    
    span {
        width: 60%;
        opacity: 0.7;
    }
}

.signup {
    margin: 10px 0;
    p {
        margin: 0;
    }
}



